 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a computer science graduate with a keen eye on providing software driven solutions. There is nothing I find more satisfying than a process easened through software.</p>
                </div>
                <div class="col-lg-4">
                    <p>My experiences have given me a real appreciation for user centered design coupled with rapid application development and constant stakeholder engagement. </p>
                </div>
            </div>
        </div>
    </section>
