
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience and Education</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/savannah.jpg" alt="savannah">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>2018 - PRESENT</h4>
                        <h4 class="subheading">Senior Software Engineer</h4>
                        <h5 class="subheading">Savannah Informatics</h5>
                        </div>
                        <div class="timeline-body">
                        <p class="text-muted">
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/savannah.jpg" alt="savannah">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>2015 - 2017</h4>
                        <h4 class="subheading">Software Engineer</h4>
                        <h5 class="subheading">Savannah Informatics</h5>
                        </div>
                        <div class="timeline-body">
                        <p class="text-muted">
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/c4dlab.jpg" alt="c4dlab">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>2013 - 2014</h4>
                        <h4 class="subheading">Graphics Designer</h4>
                        <h5 class="subheading">C4DLab</h5>
                        </div>
                        <div class="timeline-body">
                        <p class="text-muted">
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/jambopay.png" alt="jambopay">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>2013 (MAY - AUG)</h4>
                        <h4 class="subheading">Software Developer</h4>
                        <h5 class="subheading">Jambopay</h5>
                        </div>
                        <div class="timeline-body">
                        <p class="text-muted">
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/uon.jpg" alt="uon">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>2011 - 2015</h4>
                        <h4 class="subheading">Bsc. Computer Science</h4>
                        <h5 class="subheading">University of Nairobi</h5>
                        </div>
                        <div class="timeline-body">
                        <p class="text-muted">
                        </p>
                        </div>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </section>